name: Lint and Format

on:
  # Run on pushes to main and pushed tags, and on pull requests against main
  push:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  wpiformat:
    name: "wpiformat"
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - name: Fetch all history and metadata
        run: |
          git fetch --prune --unshallow
          git checkout -b pr
          git branch -f main origin/main
      - uses: actions/setup-python@v6
        with:
          python-version: 3.14
      - name: Install wpiformat
        run: pip3 install wpiformat==2025.79
      - name: Run
        run: wpiformat
      - name: Check output
        run: |
          set +e
          git --no-pager diff --exit-code HEAD
          exit_code=$?
          if test "$exit_code" -ne "0"; then
            echo "::error ::Linting failed. See https://docs.photonvision.org/en/latest/docs/contributing/linting.html"
            exit $exit_code
          fi
      - name: Generate diff
        run: git diff HEAD > wpiformat-fixes.patch
        if: ${{ failure() }}
      - uses: actions/upload-artifact@v4
        with:
          name: wpiformat fixes
          path: wpiformat-fixes.patch
        if: ${{ failure() }}
