name: CMake

on:
  push:
    branches: [ "main" ]
    tags:
      - 'v*'
  pull_request:
    branches: [ "main" ]

env:
  BUILD_TYPE: Release
  # Keep in sync with
  # https://github.com/PhotonVision/photonvision/blob/main/.github/workflows/build.yml
  IMAGE_VERSION: v2026.0.3

jobs:
  build-host:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-22.04
            arch-name: linuxx86-64
            gradle-flags: ""
          # https://github.com/PhotonVision/photon-image-modifier/blob/main/.github/workflows/main.yml#L55
          # we are still on bookwork
          - os: wpilib/raspbian-cross-ubuntu:2025-bookworm-22.04-py312
            arch-name: linuxarm64
            gradle-flags: "-PArchOverride=linuxarm64"

    runs-on: ${{ matrix.os }}
    name: "mrcal-jni - Build - ${{ matrix.arch-name }}"

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'true'
        fetch-depth: 0

    - name: Fetch tags
      run: git fetch --tags --force
    - run: git describe --tags

    - name: Install Java 17
      uses: actions/setup-java@v3
      with:
        java-version: 17
        distribution: temurin

    - name: Setup cmake
      uses: jwlawson/actions-setup-cmake@v1.13

    - name: Install deps
      run: |
        sudo apt-get update
        sudo apt-get install -y cmake gcc g++ liblist-moreutils-perl

    - name: Configure CMake
      # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
      # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
      run: cmake -B ${{github.workspace}}/cmake_build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DOPENCV_ARCH=${{ matrix.arch-name }}

    - name: Build shared mrcal_jni
      # Build your program with the given configuration
      run: cmake --build ${{github.workspace}}/cmake_build --config ${{env.BUILD_TYPE}} ${{ (startsWith(matrix.arch-name, 'windowx86-64') && '--config Release') || '' }} -j --target mrcal_jni

    - name: Gradle build
      # Build your program with the given configuration
      run: ./gradlew build ${{ matrix.gradle-flags }}

    - run: ./gradlew publish ${{ matrix.gradle-flags }}
      name: Publish
      env:
        ARTIFACTORY_API_KEY: ${{ secrets.ARTIFACTORY_API_KEY }}
      if: github.event_name == 'push'

    - uses: actions/upload-artifact@v4
      with:
        name: libmrcal-jar-${{ matrix.arch-name }}
        path: |
          ${{ github.workspace }}/build/libs/*.jar

  build-windows:
    runs-on: windows-latest

    name: "mrcal-jni - Build - Windows"

    env:
      BUILD_TYPE: "Release"

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'true'
        fetch-depth: 0

    - name: Fetch tags
      run: git fetch --tags --force
    - run: git describe --tags

    - name: Install Java 17
      uses: actions/setup-java@v3
      with:
        java-version: 17
        distribution: temurin

    - name: Setup cmake
      uses: jwlawson/actions-setup-cmake@v1.13

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/cmake_build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DOPENCV_ARCH=windowsx86-64 -DCMAKE_CXX_COMPILER=clang-cl -DCMAKE_C_COMPILER=clang-cl -G Ninja

    - name: Build shared mrcal_jni
      # Build your program with the given configuration
      run: cmake --build ${{github.workspace}}/cmake_build --target mrcal_jni

    - name: Gradle build
      # Build your program with the given configuration
      run: ./gradlew build

    - run: ./gradlew publish
      name: Publish
      env:
        ARTIFACTORY_API_KEY: ${{ secrets.ARTIFACTORY_API_KEY }}
      if: github.event_name == 'push'

    - uses: actions/upload-artifact@v4
      with:
        name: libmrcal-jar-windowsx64
        path: ${{ github.workspace }}/build/libs/*.jar

  release:
    needs: [build-host, build-windows]
    runs-on: ubuntu-22.04
    steps:
      # Download literally every single artifact. This also downloads client and docs,
      # but the filtering below won't pick these up (I hope)
      - uses: actions/download-artifact@v4

      - run: find

      # Push to dev release on pushes to master
      - uses: pyTooling/Actions/releaser@r0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: 'Dev'
          rm: true
          files: |
            **/*
        if: github.event_name == 'push'

      # Push to actual release, if tagged
      - uses: softprops/action-gh-release@v2
        with:
          files: |
            **/*
        if: startsWith(github.ref, 'refs/tags/v')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
